configuration {
    modi:              "ssh,drun,run";
    sidebar-mode:      true;
    terminal:          "urxvt"; 
    ssh-client:        "ssh";
    ssh-command:       "{terminal} -e {ssh-client} {host}";
    width:             50;
    lines:             5;
    columns:           1;
    font:              "Inconsolata 12";
    theme:             "~/.config/rofi/themes/dark_elements.rasi";
}
