URxvt*termName: rxvt-unicode
URxvt*depth: 32
URxvt*borderLess: false
URxvt*tintColor: #FFFAF0
URxvt*inheritPixmap: true

!! preferences
URxvt*loginShell: true
URxvt*imLocale: ja_JP.UTF-8
URxvt*saveLines: 12000
URxvt*transparent: true
URxvt*shading: 20
! fade text n% upon unfocus
URxvt*fading: 40
URxvt*visualBell: true
! darken=(0 to 100) lighten=(-1 to -100)
!URxvt*shading: 30
! tint background with this color
!URxvt*tintColor: black

!! scroll
URxvt*scrollBar: false
URxvt*scrollBar_right: false
! Scroll to the bottom when non-special keys are pressed
URxvt*scrollTtyKeypress: true
! Do not scroll with scrollback buffer when tty recieves new lines, adds some speed.
URxvt*scrollWithBuffer: false
URxvt*skipScroll: true

!! cursor preferences
URxvt*cursorBlink: false
URxvt*cursorUnderline: false
URxvt*cursorColor: #ff5733

!! tabs
!!URxvt.perl-ext-common: default,tabbed
!!URxvt.tabbed.tabbar-fg: 14
!!URxvt.tabbed.tabbar-bg: 6 
!!URxvt.tabbed.tab-fg: 14 
!!URxvt.tabbed.tab-bg: 6 

!! urlLauncher settings
URxvt*urlLauncher: /usr/bin/firefox
URxvt*matcher.button: 1

!! fonts
URxvt*font: xft:Ricty:pixelsize=11:style=Regular:antialias=true:hinting=true, \
xft:Font Awesome 5 Free Regular:pixelsie=11:style=Regular, \
xft:Font Awesome 5 Free Solid:pixelsize=11:style=Solid, \
xft:Dejavu Sans Mono:pixelsize=11:style=Regular:antialias=true
URxvt*boldFont: xft:Ricty:pixelsize=11:style=Bold:antialiase=true:hinting, \
xft:Dejavu Sans Mono:pixelsize=11:style=Bold:antialias=true
URxvt.letterSpace: -4

!! color
URxvt.color0:      [90]#282828
URxvt.color1:      [90]#cc241d
URxvt.color2:      [90]#98971a
URxvt.color3:      [90]#d79921
URxvt.color4:      [90]#458588
URxvt.color5:      [90]#b16286
URxvt.color6:      [90]#689d6a
URxvt.color7:      [90]#a89984
URxvt.color8:      [90]#928374
URxvt.color9:      [90]#fb4934
URxvt.color10:     [90]#b8bb26
URxvt.color11:     [90]#fabd2f
URxvt.color12:     [90]#83a598
URxvt.color13:     [90]#d3869b
URxvt.color14:     [90]#8ec07c
URxvt.color15:     [90]#ebdbb2
URxvt.foreground:  [90]#ebdbb2
URxvt.background:  [90]#282828
URxvt.colorIT:     [90]#8ec07c
URxvt.colorBD:     [90]#fe8019
URxvt.colorUL:     [90]#83a598
!URxvt.scrollColor: [90]#504945
!URxvt.troughColor: [90]#3C3836
